@model vizeEmlak.Models.House

<div class=" row" style="float:left;">
    <div class="col" id="sutun">
        <div class="row">
            @Model.Resim
        </div>

        <div style="margin-top:25px;margin-right:90px;margin-left:175px;">
            <h5>@Model.Mahalle</h5>
            <h5>@Model.Sokak No: @Model.No</h5>
            <h5>@Model.Ilce / @Model.Il</h5>
        </div>
    </div>
</div>